{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
<div class="reset-sent-page">
    <div class="reset-sent-card">
        <h1>Password reset email sent</h1>

        <p class="reset-text">
            If an account matching your email exists, then an email was just sent that contains a link that you can use to reset your password.
            This link will expire in
            <strong>{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}</strong>.
        </p>

        <p class="reset-text">
            If you don't receive an email please check your spam folder or
            <a class="reset-link" href="{{ path('app_forgot_password_request') }}">try again</a>.
        </p>
    </div>
</div>
{% endblock %}