{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
<div class="reset-page">
    <div class="reset-card">
        <h1>Reset your password</h1>

        {{ form_start(resetForm) }}
            <div class="reset-form-row">
                {{ form_row(resetForm.plainPassword) }}
            </div>

            <button class="btn reset-btn" type="submit">
                Reset password
            </button>
        {{ form_end(resetForm) }}
    </div>
</div>
{% endblock %}